.viande {
    background-color: #cc5d75;
    color: #ffffff;
}

.légume {
    background-color: #5cc563;
    color: #ffffff;
}

.poisson {
    background-color: #755dd2;
    color: #ffffff;
}

.laitier {
    background-color: #d2c66d;
    color: #ffffff;
}

.base {
    background-color: #ccc;
    color: #555;
}

.assaisonnement {
    background-color: #888;
    color: #fff;
}