.viande {
    background-color: #cc5d75;
    color: #ffffff;
}

.légume {
    background-color: #5cc563;
    color: #ffffff;
}

.poisson {
    background-color: #755dd2;
    color: #ffffff;
}

.fromage {
    background-color: #d2c66d;
    color: #ffffff;
}

.assaisonnement {
    background-color: #888888;
    color: #ffffff;
}