#results {
    white-space: nowrap;
}

.pizza-block {
    padding-left: 40px;
    text-align: left;
    color: #000;
}

.pizza-name {
    font-weight: bold;
}

#pizza-container {
    padding: 10px 5px;
    /* top/bottom right/left */
}