body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    user-select: none; /* can't select text */
    margin: 0;
}

.box-horizontal-flex {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
}

.box-vertical-flex {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.grid-2x2 {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 2% 2%;
}

.top-sticky {
    position: sticky;
    top: 0;
    height: fit-content;
    width: 100%;
    background-color: white;
}

#main-container {
    padding: 15px 0px 15px 15px;
}

#secondary-container {
    align-items: center;
    row-gap: 0px;
    padding: 0px ;
}

#button-container {
    padding: 15px 0px 20px;
    mask: linear-gradient(rgba(0, 0, 0, 1) 90%,rgba(0, 0, 0, 0) 100%);
}