body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
    text-align: center;
}

h1 {
    color: #007bff;
}

p {
    color: #333;
}

.box {
    position: absolute;
    display: inline-block;
    padding-bottom: 180px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 50px;
    background-color: rgb(112, 193, 112);
    border: 5px solid #438143;
    /* TODO: uncomment this in the v2 */
    /* cursor: move; */
    left: 50%;
    /* Set initial left position to center */
    top: 70%;
    /* Set initial top position to center */
    transform: translate(-50%, -50%);
    /* Center the box using translate */
    user-select: none;
    white-space: nowrap;
}

.tag {
    position: absolute;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    background-color: #c8aaaa;
    /* Background color of the box */
    cursor: move;
    left: 50%;
    /* Set initial left position to center */
    top: 70%;
    /* Set initial top position to center */
    transform: translate(-50%, -50%);
    /* Center the box using translate */
    user-select: none;
    white-space: nowrap;
}

.tag-text {
    margin: 0;
    /* Remove default margin from the paragraph */
    color: #089421;
    /* Text color */
    font-size: 16px;
    /* Font size */
    font-weight: bold;
    /* Font weight */
}

.box-title {
    margin: 0;
    /* Remove default margin from the paragraph */
    color: #438143;
    /* Text color */
    font-size: 22px;
    /* Font size */
    font-weight: bold;
    /* Font weight */
}