body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 8px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    user-select: none;
    white-space: nowrap;
}

.main-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex: 3;
}

.ingredient-box {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    row-gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    height: fit-content;
    padding: 10px 5px;
    /* top/bottom right/left */
}

.qualifier-container {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    height: fit-content;
}

.box {
    border-radius: 50px;
    border: 5px solid;
    flex: 1;
    min-height: 45vh;
}

.box-title {
    color: inherit;
    font-size: 22px;
    font-weight: bold;
    flex-basis: 100%;
}

.tag {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.05s;
    /* snap shouldn't be instantaneous */
}

.tag-text {
    /* there's default margin on the top and bottom,
     we use padding on the 4 sides instead */
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: inherit;
}