body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 8px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex: 4;
}

.secondary-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.qualifier-container {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    height: 50vh;
}

.box {
    border-radius: 50px;
    border: 5px solid;
    user-select: none;
    white-space: nowrap;
    flex: 1;
}

.box-title {
    color: inherit;
    font-size: 22px;
    font-weight: bold;
}

.tag {
    position: absolute;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    cursor: move;
    /* Set initial left position to center */
    left: 65%;
    /* Set initial top position to center */
    top: 70%;
    /* Center the box using translate */
    transform: translate(-50%, -50%);
    user-select: none;
    white-space: nowrap;
    transition: 0.05s;
}

.tag-text {
    /* Remove default margin from the paragraph */
    margin: 0;
    /* Font size */
    font-size: 14px;
    /* Font weight */
    font-weight: bold;
    /* Text color */
    color: inherit;
}