<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}">
        <script defer src="{{ url_for('static', filename='script.js') }}"></script>

        <title>Minimal HTML Page</title>
    </head>
    <body>
        <div class="box">
            <p class="box-title">pineapple pen</p>
        </div>
        {% for ingredient, classe in ingredients.items() %}
        <div class="draggable tag {{classe}}">
            <p class="tag-text">{{ingredient}}</p>
        </div>
        {% endfor %}
    </body>
</html>
