<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
            href="{{ url_for('static', filename='foodtype_colors.css') }}">
        <link rel="stylesheet"
            href="{{ url_for('static', filename='box_colors.css') }}">
        <link rel="stylesheet"
            href="{{ url_for('static', filename='results.css') }}">
        <link rel="stylesheet"
            href="{{ url_for('static', filename='structures.css') }}">
        <link rel="stylesheet"
            href="{{ url_for('static', filename='tag.css') }}">
        <link rel="stylesheet"
            href="{{ url_for('static', filename='box.css') }}">
        <script defer
            src="{{ url_for('static', filename='script.js') }}"></script>

        <title>Choisis ta pizza</title>
    </head>
    <body class="box-horizontal-flex">
        <div id="main-container" class="box-vertical-flex">
            <div id="qualifier-container" class="grid-2x2">
                <div id="without" class="box tag-box qualifier-box" draggable="true">
                    <div class="box-title">Without</div>
                </div>
                <div id="bad" class="box tag-box qualifier-box" draggable="true">
                    <div class="box-title">Bad</div>
                </div>
                <div id="good" class="box tag-box qualifier-box" draggable="true">
                    <div class="box-title">Good</div>
                </div>
                <div id="with" class="box tag-box qualifier-box" draggable="true">
                    <div class="box-title">With</div>
                </div>
            </div>
            <div id="ingredients" class="box tag-box" draggable="true">
                <div class="box-title">Ingredients</div>
                <div class="mastertag-box">
                    <div id="viande" class="mastertag viande"
                        draggable="true" data-foodtype="viande">
                        <p class="tag-text">viande</p>
                    </div>
                    <div id="poisson" class="mastertag poisson"
                        draggable="true" data-foodtype="poisson">
                        <p class="tag-text">poisson</p>
                    </div>
                    <div id="légume" class="mastertag légume"
                        draggable="true" data-foodtype="légume">
                        <p class="tag-text">légume</p>
                    </div>
                    <div id="fromage" class="mastertag fromage"
                        draggable="true" data-foodtype="fromage">
                        <p class="tag-text">fromage</p>
                    </div>
                    <div id="assaisonnement" class="mastertag assaisonnement"
                        draggable="true" data-foodtype="assaisonnement">
                        <p class="tag-text">assaisonnement</p>
                    </div>
                </div>
                {% for ingredient, foodtype in ingredients.items() %}
                <div id="{{ingredient}}" class="tag {{foodtype}}" draggable="true"
                    data-foodtype="{{foodtype}}">
                    <p class="tag-text">{{ingredient}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="secondary-container">
            <div id="results" class="box">
                <div class="box-title">Results</div>
                <div id="pizza-container" class="box-vertical-flex"></div>
            </div>
        </div>

    </body>
</html>
