<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>

        <title>Minimal HTML Page</title>
    </head>
    <body>
        <h1>Hello, World!</h1>
        <p>This is a minimal HTML page with CSS and JavaScript.</p>
        <div class="big-rounded-box">
            <p class="big-box-content">pineapple pen</p>
        </div>
        <div class="draggable rounded-box">
            <p class="box-content">pineapple</p>
        </div>
        <div class="draggable rounded-box">
            <p class="box-content">pen</p>
        </div>
    </body>
</html>
